{% extends "_bases/_base.html" %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ url_for('.static',filename='vendor/bootstrap.min.css') }}">
  <!-- <script type="text/javascript" src="{{ url_for('static',filename='_vendor/bootstrap-material-design/js/material.js') }}"></script> -->

{% endblock %}
{% block body %}
    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('.Home:index') }}">Show<strong>CSE</strong></a>
            </div>
            <div class="navbar-collapse collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                    {% for item in current_menu.submenu('frontend').children if item.visible recursive %}
                        {%- if item.children -%}
                        <li class='dropdown {{ 'active' if item.active }}'>
                            <a href="{{ item.url }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ item.text }}<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                {{ loop(item.children) }}
                            </ul>
                        </li>
                        {% else %}
                        <li {{ 'class=active' if item.active }}>
                            <a href="{{ item.url }}">{{ item.text }}</a>
                        </li>
                        {%- endif -%}
                    {% endfor %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% for item in current_menu.submenu('frontend-right').children if item.visible recursive %}
                        {% if item.prefix_divider %}
                            <li class="divider">eeee</li>
                        {% endif %}
                        
                        {%- if item.children -%}
                        <li class='dropdown {{ 'active' if item.active }}'>
                            <a href="{{ item.url }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ item.text }}<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                {{ loop(item.children) }}
                            </ul>
                        </li>
                        {% else %}
                        <li {{ 'class=active' if item.active }}>
                            <a href="{{ item.url }}">{{ item.text }}</a>
                        </li>
                        {%- endif -%}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}