flask
# flask-ldap3-login
git+https://github.com/nickw444/flask-ldap3-login.git
flask-boilerplate-utils
flask-boilerplate-buildutils
flask-menu
flask-login
flask-sqlalchemy
pymysql
flask-uploads
Flask-Misaka
speaklater
misaka<2.0
flask-migrate
gunicorn