{% extends "frontend/profile/base.html" %}

{% block content %}

    <div class="pull-right">
        {% if user != current_user %}
            <!-- TODO: figure out if users are following each other -->
            <a href="{{ url_for('.Profile:follow', user_id=user.id) }}" class="btn btn-primary">Follow</a>
            <a href="{{ url_for('.Profile:unfollow', user_id=user.id) }}" class="btn btn-primary">Unfollow</a>
        {% else %}
            <a href="{{ url_for('.Profile:edit')}}" class="btn btn-primary">Edit Profile</a>
        {% endif %}
        {% if user.github_username %}
            <a href="http://github.com/{{user.github_username}}" class="btn btn-primary" target="_blank">Github</a>
        {% endif %}
        {% if user.website %}
            <a href="http://{{user.website}}" class="btn btn-primary" target="_blank">Website</a>
        {% endif %}

    </div>
    <h2 style="margin-top:0px;">{{ user.fullname }}</h2>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-xs-12 col-sm-3">

            <!-- Starred projects section -->
            <div class="panel panel-default">
                <div class="panel-heading">Starred Projects</div>
                    {% if user.stars.count()  %}
                        <ul class="list-group">
                            {% for star in user.stars %}
                                <li class="list-item"><a href="{{ url_for('.Project:view_project', id=star.id) }}">{{ star.name }}</a></li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <div class="panel-body text-center">
                            <p>This user has no starred projects</p>
                        </div>
                    {% endif %}
            </div>

            <!-- Followers section -->
            <div class="panel panel-default">
                <div class="panel-heading">Followers</div>
                {% if user.followers.count() %}
                    <ul class="list-group">
                        {% for follower in user.followers %}
                            <li class="list-group-item"><a href="{{url_for('frontend.Profile:index', user_id=follower.zid)}}">{{ follower.fullname }}</a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <div class="panel-body text-center">
                        <p>This user has no followers</p>
                    </div>
                {% endif %}
            </div>

            <!-- Following section -->
            <div class="panel panel-default">
                <div class="panel-heading">Following</div>
                {% if user.following.count() %}
                    <ul class="list-group">
                        {% for follow in user.following %}
                            <li class="list-group-item"><a href="{{url_for('frontend.Profile:index', user_id=follower.zid)}}">{{ follow.fullname }}</a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <div class="panel-body text-center">
                        <p>This user is not following anyone</p>
                    </div>
                {% endif %}
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">About</div>
                {% if user.about %}
                    {{ user.about|markdown }}
                {% else %}
                    <p>This user has not filled out this section of their profile</p>
                {% endif %}
            </div>
        
        </div><!-- /col -->


        <div class="col-xs-12 col-sm-9">

            <!-- Projects section -->
            {% if user.projects.count() %}
                <div class="row">
                    <div class="panel panel-default panel-body">
                        <ul class="list-group">
                            {% for project in user.projects %}
                                <li class="list-group-item">
                                    <img src="{{ project.primary_image.url() if project.primary_image }}" />
                                    <h3>{{ project.name }}</h3>
                                    {{ project.description|markdown }}
                                </li>
                            {% endfor %}                   
                        </ul>
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <div class="panel panel-default panel-body">
                        <div class="col-xs-12">
                            <h3>This User has no Projects</h3>                      
                        </div>
                    </div>
                </div>
            {% endif %}


        </div><!-- /col -->
    </div><!-- /row -->
{% endblock %}