{% extends "frontend/profile/base.html" %}
{% block content %}
	
	<!-- Name and program -->
	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default panel-body">
				<h1>FirstName Surname</h1>
				<h4>Program Name</h4>		
			</div>
		</div>
	</div>
	
	<!-- About themselves -->
	<div class="row">
		<div class="col-xs-12 col-sm-8">
			<div class="panel panel-default">
				<div class="panel-body">
					<h3>About</h3>
					{{lipsum(1)}}
					<hr />
					<a>GitHub</a><br />
					<a>Website</a>
				</div>
			</div>
		</div>
		
		<!-- Starred projects -->
		<div class="col-xs-12 col-sm-4">
			<div class="panel panel-default panel-body">
				<h3>Starred Projects</h3>
				<ul class="list-group">
					<li class="list-group-item"><a>ShowCSE</a></li>
					<li class="list-group-item"><a>Flask LDAP Login</a></li>
					<li class="list-group-item"><a>BARK</a></li>
				</ul>
			</div>
		</div>
	</div> <!-- row -->
	
	<!-- Projects section -->
	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default panel-body">
				<div class="col-xs-12 col-sm-4">
					<img src="http://baconmockup.com/200/200/" />
				</div>
				<div class="col-xs-12 col-sm-8">	
					<h3>Project name</h3>
					{{lipsum(3)}}
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default panel-body">
				<div class="col-xs-12 col-sm-4">
					<img src="http://baconmockup.com/200/200/" />
				</div>
				<div class="col-xs-12 col-sm-8">	
					<h3>Project name</h3>
					{{lipsum(3)}}
				</div>
			</div>
		</div>
	</div>

	<!-- Followers, following -->
	<div class="row">
		
		<!-- Followers -->
		<div class="col-xs-12 col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Followers</h3>
				</div>
				<ul class="list-group">
					<li class="list-group-item"><a>Jake Bloom</a></li>
					<li class="list-group-item"><a>Nick Whyte</a></li>
					<li class="list-group-item"><a>Steven Strijakov</a></li>					
				</ul>
			</div>
		</div>
	
		<!-- Following -->
		<div class="col-xs-12 col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Following</h3>
				</div>
				<ul class="list-group">
					<li class="list-group-item"><a>Jake Bloom</a></li>
					<li class="list-group-item"><a>Nick Whyte</a></li>
					<li class="list-group-item"><a>Steven Strijakov</a></li>					
				</ul>
			</div>
		</div>
	
	</div><!-- /row -->

{% endblock %}
