{% extends "frontend/profile/base.html" %}
{% block content %}
	
	<!-- Name and program -->
	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default panel-body">
				<h1>{{ user.firstname + " " + user.surname}}</h1>
				<h4>{{ user.program }}</h4>		
			</div>
		</div>
	</div>
	
	<!-- About themselves -->
	<div class="row">
		<div class="col-xs-12 col-sm-8">
			<div class="panel panel-default">
				<div class="panel-body">
					<h3>About</h3>
					{{ user.about }}
					<hr />
					{% if user.github is not None %}
						<a href="{{ user.github }}">GitHub</a><br />
					{% endif %}
					{% if user.website is not None %}
						<a href="{{user.website}}">Website</a>
					{% endif %}
				</div>
			</div>
		</div>
		
		<!-- Starred projects -->
		<div class="col-xs-12 col-sm-4">
			<div class="panel panel-default panel-body">
				<h3>Starred Projects</h3>
				{% if user.stars is not None %}
					<ul class="list-group">
						{% for star in user.stars %}
							<li class="list-item"><a>{{ star.name }}</a></li>
							<!-- TODO: URL endpoint for individual project -->
						{% endfor %}
					</ul>
				{% endif %}
			</div>
		</div>
	</div> <!-- row -->
	
	<!-- Projects section -->
	{% for project in user.projects %}
		<div class="row">
			<div class="col-xs-12">
				<div class="panel panel-default panel-body">
					<div class="col-xs-12 col-sm-4">
						<img src="http://baconmockup.com/200/200/" />
					</div>
					<div class="col-xs-12 col-sm-8">	
						<h3>{{ project.name }}</h3>
						{{ project.description }}
					</div>
				</div>
			</div>
		</div>
	{% endfor %}

	<!-- Followers, following -->
	<div class="row">
		
		<!-- Followers -->
		<div class="col-xs-12 col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Followers</h3>
				</div>
				{% if user.followers is not None %}
					<ul class="list-group">
						{% for follower in user.followers %}
							<li class="list-group-item"><a href="{{url_for('frontend.Profile:index', user_id=follower.zid)}}">{{ follower.firstname + " " + follower.surname }}</a></li>
						{% endfor %}
					</ul>
				{% else %}
					<p>This user has no followers</p>
				{% endif %}
			</div>
		</div>
	
		<!-- Following -->
		<div class="col-xs-12 col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Following</h3>
				</div>
				{% if user.following is not None %}
					<ul class="list-group">
						{% for follow in user.following %}
							<li class="list-group-item"><a href="{{url_for('frontend.Profile:index', user_id=follower.zid)}}">{{ follow.firstname + " " + follow.surname }}</a></li>
						{% endfor %}
					</ul>
				{% else %}
					<p>This user is not following anyone</p>
				{% endif %}
			</div>
		</div>

	
	</div><!-- /row -->

{% endblock %}
