[Unit]
Description=ShowCSE MySQL Docker Container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a showcse.mysql
ExecStop=/usr/bin/docker stop -t 2 showcse.mysql

[Install]
WantedBy=local.target
