{% extends "frontend/project/base.html" %}

{% block content %}
    <div class="pull-right">
        <a href="#" class="btn btn-primary">Edit</a>
        <a href="#" class="btn btn-grey"><span class="glyphicon glyphicon-star-empty"></span>&nbsp;22</a>
    </div>
    <h2 style="margin-top:0px;">Project Name</h2>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-xs-12 col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">Developers</div>
                <ul class="list-group">
                    {% for developer in project.devs %}
                        <a href="{{ url_for('.Profile:user', user_id=developer.zid) }}" class="list-group-item"><span class="glyphicon glyphicon-user"></span>&nbsp;{{ developer.fullname }}</a>

                    {% endfor %}

                </ul>
                {{ project.dev.dereference() }}
            </div>

            <div class="panel panel-default">
                <ul class="list-group">
                    {% if project.download_link %}
                        <a href="{{ project.download_link }}" class="list-group-item">Download</a>
                    {% endif %}
                    {% if project.website_link %}
                        <a href="{{ project.website_link }}" class="list-group-item">Project Website</a>
                    {% endif %}
                    {% if project.demo_link %}
                        <a href="{{ project.demo_link }}" class="list-group-item">Demo</a>
                    {% endif %}
                </ul>
            </div>
            {#
            <div class="panel panel-default">
                <div class="panel-heading">Similar Projects</div>
                <ul class="list-group">
                    <a href="#" class="list-group-item">Project 1</a>
                </ul>
            </div>
             #}
        </div>
        <div class="col-xs-12 col-sm-9">
            <div class="row">
                {% for x in range(3) %}
                <div class="col-xs-6 col-sm-3">
                    <a href="#" class="thumbnail">
                        <img src="http://baconmockup.com/300/300">
                    </a>
                </div>
                {% endfor %}
            </div>


            <div class="panel panel-default">
                <div class="panel panel-body project-info">
                    <h2>I Am Some Markdown Formatted Text</h2>
                    <p>Look at me!!!</p>
                    <ul>
                        <li>Hell owrlddsjkfh</li>
                        <li>Hell owrlddsjkfh</li>
                        <li>Hell ejfh </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
