{% extends "frontend/project/base.html" %}

{% block content %}
    <form method="POST">
        {{ star_form.hidden_tag() }}
        <div class="pull-right">
            {% if current_user in project.devs.all() %}
                <a href="#" class="btn btn-primary btn-sm">Edit</a>
            {% endif %}

            <div class="btn-group" role="group" aria-label="...">
              <button type="button" disabled class="btn btn-default btn-sm">{{ project.stars.count() }}</button>
              <button type="submit" name="submit" class="btn btn-grey btn-sm">
                    {% if current_user in project.stars.all() %}
                        <span class="glyphicon glyphicon-star"></span>&nbsp;Unstar
                    {% else %}
                        <span class="glyphicon glyphicon-star-empty"></span>&nbsp;Star
                    {% endif %}
                </button>
            </div>

        </div>
    </form>
    <h2 style="margin-top:0px;">{{ project.name }}</h2>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-xs-12 col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">Developers</div>
                <ul class="list-group">
                    {% for developer in project.devs %}
                        <a href="{{ url_for('.Profile:user', user_id=developer.zid) }}" class="list-group-item"><span class="glyphicon glyphicon-user"></span>&nbsp;{{ developer.fullname }}</a>
                    {% endfor %}
                </ul>
            </div>

            {% if project.download_link or project.website_link or project.demo_link %}
            <div class="panel panel-default">
                <ul class="list-group">
                    {% if project.download_link %}
                        <a target="_blank" href="{{ project.download_link }}" class="list-group-item">Download</a>
                    {% endif %}
                    {% if project.website_link %}
                        <a target="_blank" href="{{ project.website_link }}" class="list-group-item">Project Website</a>
                    {% endif %}
                    {% if project.demo_link %}
                        <a target="_blank" href="{{ project.demo_link }}" class="list-group-item">Demo</a>
                    {% endif %}
                </ul>
            </div>
            {% endif %}
            {#
            <div class="panel panel-default">
                <div class="panel-heading">Similar Projects</div>
                <ul class="list-group">
                    <a href="#" class="list-group-item">Project 1</a>
                </ul>
            </div>
             #}
        </div>
        <div class="col-xs-12 col-sm-9">
            <div class="row">   
                {% for image in project.images %}
                <div class="col-xs-6 col-sm-3">
                    <a href="{{ image.url() }}" target="_blank" class="thumbnail">
                        <img src="{{ image.url() }}">
                    </a>
                </div>
                {% endfor %}
            </div>


            <div class="panel panel-default">
                <div class="panel panel-body project-info">
                    {{project.description|markdown}}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
