{% include "frontend/project/include/fancy_upload.html" %}
<form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="panel panel-default">
        <div class="panel-heading">New Project</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12 col-sm-8">
                    {{ render_field(form.name) }}
                    <div class="form-group">
                        <label for="description" >Project Description</label>
                        {{ render_field(form.description, class="form-control") }}
                        <span class="help-block">
                            You can use markdown formatted text in your description.
                        </span>
                    </div>
                    {% if not project %}
                    <div class="form-group">
                        <label>Images</label>
                        <div class="input-group fileupload">
                            <span class="input-group-btn">
                                <span class="btn btn-primary btn-file">
                                    Browse&hellip; 
                                    <input type="file" name="images" accept="image/*" multiple>
                                </span>
                            </span>
                            <input type="text" class="form-control" readonly>
                        </div>
                        <span class="help-block">
                            You can select more than one image.
                        </span>
                    </div>
                    {% endif %}
                </div>
                <div class="col-xs-12 col-sm-4">
                    {{ render_field(form.download_link) }}
                    {{ render_field(form.website_link) }}
                    {{ render_field(form.demo_link) }}
                    {# {{ render_field(form.tags) }} #}
                </div>
            </div>
        </div>
        <div class="panel-footer text-right">
            {% if project %}
                {{ render_field(form.save, class="btn btn-primary") }}
            {% else %}
                {{ render_field(form.submit, class="btn btn-primary") }}
            {% endif %}

        </div>
    </div>
</form>