{% extends "frontend/security/base.html" %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-sm-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 style="margin-top:0px;">UNSW zID Login</h3>
                    <h5>Log in with your UNSW student credentials</h5>
                    <form method="POST">
                        {{form.hidden_tag()}}
                    {{ render_field(form.username)}}
                    {{ render_field(form.password)}}
                    {{ render_field(form.submit, class="btn btn-block btn-primary")}}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}