{% extends "frontend/home/base.html" %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">Project Directory (A-Z)</div>
    <ul class="list-group project-directory">
        {% for project in projects %}
        <a class="list-group-item" href="{{ url_for('.Project:view_project', id=project.id) }}">
            <div class="pull-right">
                <span class="glyphicon glyphicon-star-empty"></span>&nbsp;{{ project.stars.count() }}&nbsp;
            </div> 
            <div class="project-title">{{ project.name }}</div>
            <div class="project-meta">{{ project.get_contributors() }}</div>
        </a>
        {% else %}
        <li class="text-center list-group-item">No projects were found.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}