{% extends "frontend/home/base.html" %}

{% block content %}
    <div class="pull-left">
        <h2 style="margin-top:0px">ShowCSE</h2>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-xs-3">
            <!-- Favourites -->
            <div class="panel panel-default">
                <div class="panel-heading">Recent Projects</div>
                <ul class="list-group">
                    {% for i in range(3) %}
                    <a href="#" class="list-group-item"><span class="glyphicon glyphicon-bookmark"></span>&nbsp;Project{{ i }} </a>
                  {% endfor %}
                </ul>
            </div>

            <!-- Favourites -->
            <div class="panel panel-default">
                <div class="panel-heading">Favourites or something</div>
                <ul class="list-group">
                    {% for i in range(3) %}
                    <a href="#" class="list-group-item"><span class="glyphicon glyphicon-heart"></span>&nbsp;Fav{{ i }} </a>
                  {% endfor %}
                </ul>
            </div>
        </div>

        <!-- Feed -->
        <div class="col-xs-6">
            <!-- Items -->
            <div class="panel panel-default">
                <!-- IMAGE -->
                <div class="col-xs-2">
                        <a href="#" class="thumbnail">
                            <img src="http://lorempixel.com/60/60/cats"></img>
                        </a>
                </div>

                <!-- Info -->
                <div class="col-xs-4">
                    <div class="panel panel-heading">Project Title</div>
                    <div class="panel panel-body">somebody</div>
                    <div class="panel panel-footer">feet</div>
                </div>
            </div>
        </div>

        <!-- Other Things -->
        <div class="col-xs-3">
        </div>
    </div>

{% endblock %}
