{% extends "frontend/home/base.html" %}

{% block content %}
    <div class="pull-left">
        <h2 style="margin-top:0px">ShowC.SE</h2>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-xs-3">
            <!-- Favourites -->
            <div class="panel panel-default">
                <div class="panel-heading">Recent Projects</div>
                <ul class="list-group">
                    {% for i in range(3) %}
                    <a href="#" class="list-group-item"><span class="glyphicon glyphicon-bookmark"></span>&nbsp;Project{{ i }} </a>
                  {% endfor %}
                </ul>
            </div>

            <!-- Favourites -->
            <div class="panel panel-default">
                <div class="panel-heading">Favourites or something</div>
                <ul class="list-group">
                    {% for i in range(3) %}
                    <a href="#" class="list-group-item"><span class="glyphicon glyphicon-heart"></span>&nbsp;Fav{{ i }} </a>
                  {% endfor %}
                </ul>
            </div>
        </div>

        <!-- Feed -->
        <div class="col-xs-6">
            {% for i in range(4) %}
            <!-- Items -->
            <div class="panel panel-default">
            <div class="row" style="bottom-margin:20px">
                <div class="col-xs-3" style="padding-right:0">1
                </div>
                <div class="col-xs-9">
                    <div class="row" style="margin-bottom:0">
                        <div class="panel panel-header">
                            <h4 class="panel-title">Project Title</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel panel-body">
                            Project README
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6" style="padding:0; margin:0">
                            <div class="panel panel-footer">
                                Project Github
                            </div>
                        </div>
                        <div class="col-xs-6" style="padding:0; margin:0">
                            <div class="panel panel-footer">
                                User Profile
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            {% endfor %}
        </div>

        <!-- Other Things -->
        <div class="col-xs-3">
        </div>
    </div>

{% endblock %}
