@blue: #2980B9;

.list-group a.list-group-item {
    color: @blue;
}
.panel-default .panel-heading {
    border-bottom-width:2px;
    background-color: #ececec;
}
.footer {
    font-size: 0.9em;
}

.btn.btn-grey {
    background-color: #eee !important;
    border: 1px solid @blue;
    &:active,
    &:hover,
    &:focus {
        color: @blue;
    }
}

.project-directory {
    .project-title {
        font-weight: bold;
    }
    .project-meta {
        font-size:0.9em;
    }
}